/* vim: set sw=2 ts=2 sts=2 expandtab : */

.wva-added-measurement {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 1em;
}

.wva-added-measurement-label-bold {
    font-weight: bold;
}

.wva-added-measurement-label-small {
    font-size: 8pt;
}

.wva-block-caption {
    font-size: 14pt;
    font-weight: bold;
}

.wva-checkbox {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    border: 0.15em solid #aaa;
    border-radius: 0;
    height: 1em;
    transition: background-color 222ms;
    width: 1em;
}
.wva-checkbox:checked {
    background-color: #ccc;
}

.wva-combobox {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background: none;
    color: black;
    padding: 0.15em 0.5em 0.15em 0.15em;
    transition: background-color 222ms;
    z-index: 2;
}

.wva-combobox-disabled {
    background-color: #aaa;
}

.wva-combobox-arrow {
    align-items: center;
    color: black;
    display: flex;
    left: -0.35em;
    position: relative;
    z-index: 1;
}

.wva-combobox-arrow > img {
    width: 0.5em;
    height: 0.5em
}

.wva-combobox-container {
    border: 0.15em solid #ccc;
    display: flex;
    justify-content: center;
    position: relative;
}

.wva-combobox-container-left-aligned {
    display: flex;
    justify-content: left;
    position: relative;
}

.wva-combobox-container-right-aligned {
    display: flex;
    justify-content: right;
    position: relative;
}

.wva-expanded-ctrl {
    display: grid;
    grid-template-rows: auto 1fr;
}

.wva-expanded-ctrl-header {
    display: grid;
    grid-gap: 0.25em;
    grid-template-columns: 1fr auto;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

.wva-symbolic-pushbutton {
    height: 1.5em;
    width: 1.5em;
}

.wva-highlightable-red-pushbutton {
    transition: filter 222ms;
}
.wva-highlightable-red-pushbutton:hover {
    filter: drop-shadow(0px 0px 3px #f00);
}

.wva-collapsed-ctrl-header-horizontal {
    display: grid;
    grid-gap: 0.25em;
    grid-template-columns: 1fr auto;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

.wva-collapsed-ctrl-header-vertical {
    display: grid;
    grid-gap: 0.25em;
    grid-template-rows: auto auto 1fr;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

.wva-dont-grow {
  overflow: hidden;
}

.wva-highlighted-item {
    background-color: #ccc;
}

.wva-hoverable-item {
    transition: background-color 222ms;
}
.wva-hoverable-item:hover {
    background-color: #ccc;
}

.wva-measurements-container {
    height: 100%;
    width: 20em;
}

.wva-measurements-current-sel-list {
    text-align: center;
}

.wva-measurements-section-caption {
    font-style: italic;
}

.wva-padded-pushbutton {
    padding: 0em 0.5em !important;
}

.wva-pushbutton {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: background-color 222ms;
}
.wva-pushbutton:hover {
    background-color: #ccc;
}

.wva-pushbutton-border {
    border: 0.15em solid #ccc;
}

.wva-pushbutton-disabled {
    align-items: center;
    background-color: rgb(111, 111, 111);
    display: flex;
    justify-content: center;
}

.wva-pushbutton-text {
    font-weight: bold;
    font-family: sans-serif;
}

.wva-pushbutton-text-disabled {
    color: rgb(111, 111, 111);
    font-weight: bold;
    font-family: sans-serif;
}

.wva-pushbutton-text-highlightable {
    font-weight: bold;
    font-family: sans-serif;
    transition: text-shadow 222ms;
}
.wva-pushbutton-text-highlightable:hover {
    text-shadow: 0px 0px 3px rgb(111, 111, 111);
}

.wva-pushbutton-text-highlightable-dark {
    font-weight: bold;
    font-family: sans-serif;
    transition: text-shadow 222ms;
}
.wva-pushbutton-text-highlightable-dark:hover {
    text-shadow: 0px 0px 3px rgb(0, 0, 0);
}

.wva-range-slider {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background: #ccc;
    height: 0.15em;
    margin: auto 0 auto 0;
}
.wva-range-slider::-moz-range-thumb {
    background: white;
    border-radius: 0;
    border: 0.15em solid #aaa;
    cursor: pointer;
    height: 0.8em;
    transition: background-color 222ms;
    width: 0.8em;
}
.wva-range-slider::-moz-range-thumb:hover {
    background-color: #ccc;
}
.wva-range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    background: white;
    border-radius: 0;
    border: 0.15em solid #aaa;
    cursor: pointer;
    height: 1em;
    transition: background-color 222ms;
    width: 1em;
}
.wva-range-slider::-webkit-slider-thumb:hover {
    background-color: #ccc;
}

.wva-spaced-flex-vertical {
    display: flex;
    flex-direction: column;
}
.wva-spaced-flex-vertical > div {
    margin-top: 0.25em;
}

.wva-selected-structure-element {
    display: grid;
    grid-column-gap: 0.15em;
    grid-template-columns: 1fr 1em 1em 1em;
}

.wva-slider-spinbox-group {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: 1fr 5em;
}

.wva-spinbox {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    border: 0.15em solid #ccc;
    border-radius: 0;
}

.wva-tight {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.wva-tooltip-text {
    border: 0.15em solid #aaa;
    box-shadow: 0 0 3px #aaa;
    background: #ccc;
    margin: 0;
    padding: 0.25em;
    position: absolute;
    z-index: 10;
    top: 2em;
}

.wva-vcenter-box {
    display: flex;
    align-items: center;
}

.wva-vcenter-box-inline {
    display: inline-flex;
    align-items: center;
}

.wva-vertical {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}
