/* vim: set sw=4 ts=4 sts=4 expandtab : */

.waav-aminoacid-identifier {
    color: #0c8604;
    font-size: 16pt;
    position: absolute;
    left: 4em;
    bottom: 2em;
}

.waav-app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.waav-error-msg {
    color: red;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.waav-ms-viewer {
    flex: 1;
    position: relative;
}

.waav-ms-viewer-container {
    display: flex;
    flex: 1;
    position: relative;
}
