#container {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: auto 1fr;
    height: 95vh;
}

.fragment {
    border: 1px solid black;
    padding: 4px;
}
.fragment:hover {
    border: 1px solid rgb(189, 255, 189);
    transition-duration: 333ms;
}

.fragment-bad {
    background-color: red;
}

.fragments-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    overflow: scroll;
}
