#container {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: auto 1fr;
}

.fragment {
    border: 1px solid black;
    padding: 6px;
}
.fragment:hover {
    background: rgb(189, 255, 189);
    transition-duration: 333ms;
}

.fragment-added {
    background-color: rgb(211, 211, 211);
}
